{% extends "mohaverekhan/base_generic.html" %}

{% block board %}
    <p class="board-content pl-2">سیستم محاوره‌خوان</p>
{% endblock %}

{% block content %}
    <div class="container-fluid h-100">
        <div class="row mw-100">
            <textarea autofocus class="text" id="input-text" spellcheck="false" contenteditable="true">
حدود يک هفته است که به دستم رسيده. لپتاپ فوق العاده ايه. کيفيت ساخت خيلي خوبه و از جنس پلاستيک با کيفيته . ال سي دي خيلي عاليه اصلا فکر نميکردم تو اين بازه قيمتي با چنين ال سي دي اي رو به رو بشم. يکي از مزاياي ديگه اين لپ تاپ وجود دو گرافيکي يکي گرافيک اينتل و يکي هم گرافيک ان ويديا که در زمان انجام کارهاي گرافيکي سنگين خودکار به گرافيک ان ويديا سوييچ ميشه که اين مورد تاثير زيادي روي زمان شارژ دهي اين لپتاپ داره. کيفيت صداي خروجي هم مناسب و راضي کنندست. در ضمن چيزي که تو مشخصات ذکر نشده اينه که تاچ پد ايناز نوع مولتي تاچه که به راحتي کار در سيستم عامل ويندوز 8 کمک ميکنه. همراه دستگاه سيستم عاملي وجود نداره اما درايور هاي موجود مخصوص ويندوز 8 هست. کيفيت کيبورد و نرمي کليد ها هم خيلي خوبه. فکر نميکردم لپتاپ ها سامسونگ تا اين حد با کيفيت باشه. تو اين بازه قيمتي فقط اين لپتاپ و بخريد چون واقعا ارزش خريد داره
بریـــــــد به رستورانhttps://chilivery.com/tehran/restaurant1/ .... غذاش خیییلی عااااالیه😍😍😍
از نظر قیمت میارزه ك برئ ولی واقعا خفست
مث این، جای دیگه ای ندیدم مشتریاش انقدر زیاد باشه.
کیفیت پیتزاهاش اصلن خوب نیست... از شلوغیه میدون تجریش داره پول درمیاره.
بازم ازش خرید میکنم، بهتریییییییییییییییییین منطقست.
اگه یبار بری اونجا مشتریش میشی.
برای ارسال رزومه به آدرس job@gmail.com میل بزنید.
کتابه رو تو فرهنگ سرا پیداش کردم. کتاباشونم واقعن عالیه
در صورت مشکل به آیدی @bitianist پیام بدهید.
حاضرم شرط ببندم همونو ورداشتن تزئین کردن و برای ما اووردن!!!!
آخه واقعا درسته اینکار؟؟؟ چرا خب درست نمیکنن؟؟
محیطی دلباز و شادی داره دوتا سالن بزرگ هم داره شیشلیک و ماهیچه و گوشتش هم خیلی خوبه من غذاهای دیگشو تا حالا تست نکردم
همه چی عالیغذا عالی بود و برخورد پرسنل فوق العاده مودبانه بوددستشویی خوبعالی و توالت فوق العاده تمیز و عالیپذیرایی عالیخلاصه مدیریت عالی فقط امیدوارم خراب نشه چون واقعاً حیفه
نمره برخورد با مشتری تقریبا صفر مناسبشونه، غذا هم خیلی خیلی شور بود، سیب زمینیش خوب بود، و من به اون رنگ نون برگراشون خیلی خوش بین نیستم. تمام!
تازه افتتاح شدهمحیط شیک با فضای باز خیلی زیباکیفیت غذاش که خیلی عالی بودبا بهترین رستوران های تهران برابری میکنهبرخورد پرسنل هم خیلی گرم و صمیمی بوداگه به همین روال پیش برن و کیفیت غذاشونم همینطور بمونه خیلی عالیه
برخورد پرسنل عالی...کیفیت غذا عالی...قیمت خوب...حتمنی سر بزنید
2 تا قلیون با 6 تا چایی لیوانی، 130 هزار تومن!!قلیون بدون سرویس !هیچ چیز خاصی هم نداره فقط سالن داخلی اش یه کم خوشگل تزیین شده.
ما رفتیم ملورین و به نظرم چیزبرگر و همبرگر سوپریمشون فوق العاده بووووووود طعم گوشت عالی بود نون خوش طعم و یه سس تار تار خوش مزه بعد از مدت ها همبرگری خوردم که دوست داشتم 😍😍البته به نظرم منوی کافه هم خوب بوود مخصوصا کاپوچینو و کیک موکا ممنووووووووووون🙏🏻🙏🏻
غذا، فضا، برخورد با مشتری همه چی عالی، ما عاشق سالادای سزارشیم با پیتزا و ...ضمناً شبها خیلی شلوغ میشه
متاسفانه لیست قیمت با اینکه تا تیر 92 به روز شده با قیمت واقعی تفاوت فاحش داشت. سرویس 15 % با 6 % ارزش افزوده بود .(21 %) . قیمت ها و منو خیلی فرق داشتن. رستوران خوبیه به همه دوستان توصیه میکنم.
چرا جدیدا اخر همه فیلما بی نتیجه تموم میشه الان تهش چی شد
خیلی قشنگه مشکلات نسل جدید و عشق و عاشقیهارو خوب نشون داده که با یه نخواستن همه چی تموم میشه
ما در تاریخ 97/6/5 در قالب جمع دوستانه و همکاران قدیمی برای شام به این رستوران رفتیم .انصافا همه چی عالی بود .کیفیت غذاها خوب بود و از همه مهمتر صبر و حوصله کارکنان بود . چون ما عده مون زیاد بود و میخواستیم که صورتحسابها جدا باشه که همینطور هم شد . حجم غداها به نسبت قیمت خیلی خوبه . برای مثال پاستا پنه یک غذای دونفره هست .سالاد ها رو هم امتحان کنید عالین .
با سلام اطلاعات مربوط به cache اشتباه وارد شده است. 3m نمي باشد و 1024kb است. موفق باشيد
به نظر من از نظر بدنه شکي در اين مدل نيست چون جنسش از کربن يا همون فولاد که در اينجا از نوع سبک آن استفاده شده البته سري k ايسوس از آلومينيوم استفاده شده که خيلي زيباست و در عين حال که کم استقامت دارد. از نظر سخت افزاري عين k هست به جز صفحه نمايش بزرگتر و استحکام بالا در اين مدل. و زيبايي و باتري قويتر در مدل k .
دوستان تو نقد نوشته شده بود که قابليت زوم دو انگشتي و... نداره تاچش در حالي که اگه به قسمت تنظيمات ماوس بريد ميتونيد تمامي امکانات تاچش رو فعال کنيد.
اين دستگاه جزء اولين و شايد تنها سريه که تا الان از نسل چهارم سي پي يوهاي اينتل استفاده ميکنه 
من اين لپ تاپ رو دارم از نظر سخت افزار حرف نداره و براي وب گردي و کار هاي اداري و بازي هاي متوسط مناسب هست هنگام بازي کردن با بازي هاي سنگين هيچ کاهش سرعتي ديده نمي شه ولي سي پي يو بشدت داغ ميشه اين لپ تاب براي اون هايي که سخت افزار عالي همراه با صفحه نمايش بزرگ و کار هاي روزمره با قيمت مناسب ميخان توصيه ميکنم حتما اين لپ تاپو بخرين
با توجه به اين مشخصات بهتر بود از باطري بهتري استفاده ميشد
يک سالي هست که اين لپ تاپ رو خريدم در کل ازش راضي ام، ملاک اصليم واسه انتخابش وزنش بود. البته مشخصات خوبي هم نسبت به قيمتش تو مدل هاي هم رده خودش داشت
از هر نظر لپ تاپ بي نظيريه من بعد از مدت ها تحقيق خريدمش سرعتش عاليه بدنه هم اصلا زياد گرم نميشه در کل واقعا ارزش خريد داره
سلام به همگي مشکلات: - من روش ويندوز سون نصب کردم، رفتم 1.6 گيگ درايور سون دان کردم ولي کارت گرافيکيشو نشناخت ولي ويندوز 8 ريختم مشکلي نداشت.(البته شايد مشکل از کامل نبودن درايور ها باشه) - صفحه نمايش انقدر هم که گفته ميشه بد نيست ولي بايد قيد کار کردن با لپ تاپ زير نور آفتاب بزنيد مزايا: بقيه امکاناتش!
لپ تاپ بي نقص و عالي هست من مدل GT70 عادي رو دارم حرف نداره تا حالا نشده که به هر دليلي از خريدش پشيمون باشم چند تا ويژگي که موقع خريد لپ تاپ نياز هست که بهشون توجه کنيد: 1.گرافيک و cpu لپ تاپ رو نمي توني عوض کني 2.اگه دنبال لپ تاپ گيم هستي ضخامت اصلا واست مهم نباشه چون لپ تاپ در هر صورت نياز داره که خنک شه. 3.کيبورد اين مدل خيلي خوشگله!! 4.اگه کمتر ميخواي هزينه کني مدل GX683 رو بخر چون موقع کار کردن با اين دو لپ تاپ هيچ تفاوتي در هنگام پردازش نميبيني. 5. يه ميز فن هم براش بخر. من از مارک Deep Cool که خريدم کامل راضي هستم و اون رو به شما هم توصيه ميکنم.
من الان چند ماهه يکيشو از ديجي کالاخريدم وزن مناسب در مقابل پرتابل بالاي اون واقعا منو راضي نگه داشته البته دير بالااومدن اونم زياد به چشم نمياد خيلي ازش راضيم
                
            </textarea>
        </div>
        <div class="row">
            <div class="col-md-1 text-center" ></div>
            <div class="col text-center make-vertical"> 
                <select class="selectpicker select-button" id='normalizers'>
                    <option value="no-normalizer">انتخاب نرمال‌کننده</option>
                </select>
            </div>
            <div class="col-1 text-center"> 
                <button id="normal-button" class="btn btn-secondary change-button" type="button">نرمال‌کن</button>
            </div>
            <div class="col-md-1 text-center" ></div>
            <div class="col text-center make-vertical"> 
                <select class="selectpicker select-button" id='taggers'>
                    <option value="no-tagger">انتخاب برچسب‌زننده</option>
                </select>
            </div>
            <div class="col-1 text-center"> 
                <button id="tag-button" class="btn btn-secondary change-button" type="button">برچسب‌بزن</button>
            </div>
            <div class="col-md-1 text-center" ></div>

        </div>
        <div class="row w-100">
            <div class="text" id="output-text"></div>
        </div>
        <div class="row w-100">
        </div>
    </div>
    
{% endblock %}