{% extends "mohaverekhan/base_generic.html" %}

{% block board %}
    <p class="board-content">سیستم نرم افزاری برچسب زنی اجزای کلام در متون فارسی غیر رسمی</p>
{% endblock %}

{% block content %}
    <div class="container-fluid h-100">
        <div class="row mw-100">
            <textarea autofocus class="text" id="input-text" contenteditable="true">
بریـــــــد به رستورانhttps://chilivery.com/tehran/restaurant1/ .... غذاش خیییلی عااااالیه😍😍😍
از نظر قیمت میارزه ك برئ ولی واقعا خفست
مث این جای دیگه ای ندیدم مشتریاش انقدر زیاد باشه.
کیفیت پیتزاهاش اصلن خوب نیست... از شلوغیه میدون تجریش داره پول درمیاره.
بازم ازش خرید میکنم، بهتریییییییییییییییییین منطقست.
اگه یه بار بری اونجا مشتریش میشی.
برای ارسال رزومه به آدرس job@gmail.com میل بزنید.
کتابه رو تو فرهنگ سرا پیداش کردم.
در صورت مشکل به آیدی @bitianist پیام بدهید.
حاضرم شرط ببندم همونو ورداشتن تزئین کردن و برای ما اووردن!!!!
آخه واقعا درسته اینکار؟؟؟ چرا خب درست نمیکنن؟؟                                                                                 
            </textarea>
        </div>
        <div class="row">
            <div class="col-md-1 text-center" ></div>
            <div class="col text-center make-vertical"> 
                <!-- <button id="change-to-formal-button" class="btn btn-secondary change-button" type="button">تبدیل به رسمی</button> -->
                <select class="selectpicker select-button" id='normalizers'>
                    <option value="no-normalizer">انتخاب نرمال‌کننده</option>
                </select>
            </div>
            <div class="col-1 text-center"> 
                <button id="normal-button" class="btn btn-secondary change-button" type="button">نرمال‌کن</button>
            </div>
            <div class="col-md-1 text-center" ></div>
            <div class="col text-center make-vertical"> 
                <!-- <button id="convert_and_fpost-button" class="btn btn-secondary change-button" type="button">برچسب زنی غیر مستقیم</button> -->
                <select class="selectpicker select-button" id='taggers'>
                    <option value="no-tagger">انتخاب برچسب‌زننده</option>
                </select>
            </div>
            <div class="col-1 text-center"> 
                <button id="tag-button" class="btn btn-secondary change-button" type="button">برچسب‌بزن</button>
            </div>
            <div class="col-md-1 text-center" ></div>

        </div>
        <!-- <div class="row">
            <div class="col-md-12 text-center"> 
                <button id="do-it-button" class="btn btn-secondary change-button" type="button">
                    <span class="glyphicon glyphicon-plus"></span>
                    انجام بده
                </button>
            </div>
        </div> -->
        <div class="row w-100">
            <div class="text" id="output-text"></div>
        </div>
        <div class="row w-100">
            
              
        </div>
    </div>
    
{% endblock %}